{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="bg-img"><img src="{% static 'images/globe-mobile.png' %}" alt="Globe background" class="globe-about"></div>
<div class="about-heading text-center px-3 px-md-4 px-lg-5">
    <div class="container-xl">
        <img src="{% static 'images/blog_images/AT-005.png' %}" alt="">
        <h2 class=" pt-5 d-md-none font-weight-bold">About us</h2>
        <h1 class=" pt-4 pt-lg-5 d-none d-md-block font-weight-bold">About us</h1>
        <h3 class="text-justify pb-4 d-md-none">Founded in 1995, Aralia has provided intelligent surveillance solutions since 1997, making it one of the oldest and best-established companies in the intelligent surveillance market.</h3>
        <h2 class="text-justify pb-4 d-none d-md-block ">Founded in 1995, Aralia has provided intelligent surveillance solutions since 1997, making it one of the oldest and best-established companies in the intelligent surveillance market.</h2>
    </div>
</div>
<div class="about-content text-justify px-3 px-md-4 px-lg-5 pt-4 pb-3">
    <div class="container-xl">
        <p>
            Conceived as a solution to secure transportation and critical infrastructure applications, Aralia’s software was designed to enhance the overall security of rail systems, airports and public buildings.</p>
        <p>The product suite has been continually enhanced with evolving technologies including metadata querying, object classification based upon machine learning, a RESTful API and multispectral processing.</p>
        <p>For 10 years, Aralia has worked with public, private and government organizations with mission-critical security requirements. A strong international team of engineers and support staff work together to improve and enhance the software and support existing systems. Aralia’s headquarters are located in Horsham, West Sussex, England and the US office is located in Baltimore, Maryland.</p>
    </div>
</div>
<div class="about-glynn px-3 px-md-4 px-lg-5 pt-3">
    <h3 class=" pt-3 d-md-none text-center font-weight-bold">Meet our founder and CEO</h3>
    <h2 class=" pt-4 pt-lg-4 pb-3 pb-lg-4 d-none d-md-block text-center font-weight-bold">Meet our founder and CEO</h2>
    <div class="container-xl text-justify">
        <p>Dr Glynn C Wright has 30 years’ experience in the computing industry, with special emphasis in image analysis. He obtained his BSc in Electronics from the University of Dundee. His postgraduate qualifications include an MSc in Control Theory, DIC, and a PhD in Estimation Theory from Imperial College.</p>
        <p>Before founding Aralia Systems Ltd, Glynn led several image processing projects in Europe and America. As the Technical Director at GE Medical in Milwaukee, he headed the team responsible for the image analysis and display of the first commercial MRI scanner. He later served as the Technical Director of a team that developed a fault-tolerant system used for distributing aircraft information to flight controllers for Southern England.
        </p>
        <p class="mb-0 pb-4">Glynn founded Aralia Systems Ltd in 1995 and began work on its unique set of innovative and pioneering algorithms. Since its creation, Aralia has been at the forefront of the intelligent surveillance market.</p>
    </div>
</div>
{% endblock %}