{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="bg-img"><img src="{% static 'images/globe-mobile.png' %}" alt="Globe background" class="globe-about"></div>
<div class="text-center px-3 px-md-4 px-lg-5">
    <div class="container-xl">

        <h1 class=" pt-5 mt-3 pb-3 d-md-none font-weight-bold">About us</h1>
        <h1 class=" pt-5 d-none d-md-block font-weight-bold">About us</h1>
        <h3 class="text-justify pb-4 d-md-none">Founded in 1995, Aralia has provided intelligent surveillance solutions since 1997, making it one of the oldest and best-established companies in the intelligent surveillance market.</h3>
        <h2 class="text-justify pb-4 d-none d-md-block ">Founded in 1995, Aralia has provided intelligent surveillance solutions since 1997, making it one of the oldest and best-established companies in the intelligent surveillance market.</h2>
    </div>
</div>
<div class="about-heading text-center px-3 px-md-4 px-lg-5 pt-4">
    <div class="container-xl">

        <div class="text-justify pb-2">

            <div class="text-justify">
                <p>Aralia has been providing image analysis solutions to public, private and government organisations for over twenty-five years. A strong international team of engineers and support staff work together to improve and enhance the software and support existing systems.</p>
                <p>
                    Our mission-critical security software has been deployed in transportation and critical infrastructure applications, Aralia’s intelligent surveillance software was designed to enhance the overall security of rail systems, airports and public buildings.</p>
                <p>Aralia’s 3D surface inspection products serve a wide range of sectors ranging from infrastructure maintenance to digital twins for travel and entertainment. </p>
            </div>
        </div>
    </div>
</div>
<div class="about-content text-justify px-3 px-md-4 px-lg-5 pt-4 pb-3">
    <div class="container-xl">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 col-xl-6 pr-2 pr-xl-4">
                <h3 class=" pb-3 font-weight-bold text-left d-md-none">Offices in the USA and UK</h3>
                <h2 class=" pt-4 pt-lg-4 pb-3 d-none d-md-block text-left font-weight-bold">Offices in the USA and UK’ </h2>

                <p> Now employing 15 staff over three offices, Aralia’s headquarters are located in Horsham, West Sussex, England and the US office is located in Baltimore, Maryland. In January 2017 Aralia’s research and development team moved to a high tech office in Bristol.

                    Located in the new Future Space offices, within the Bristol Robotics Laboratory in the main University of the West of England campus, the recently refurbished offices and laboratories provide fresh, modern and forward-thinking surroundings with well-equipped meeting rooms and an onsite restaurant which holds regular networking events and workshops.</p>
                <p class="d-xl-none"> Glynn Wright, CEO, commented on the move: </p>
                <p class="d-xl-none"><i class="fas fa-quote-left blue  pr-2"></i><em>We are delighted to be part of such an entrepreneurial hub. There’s a really dynamic atmosphere connecting technical innovators with scientists, researchers and graduate talent. Aralia will benefit from such an innovative environment.</em><i class="fas fa-quote-right blue pl-1"></i></p>
            </div>

            <div class="col-12 p-0 pt-2 col-sm-10 col-lg-8 offset-sm-1 offset-lg-2 col-xl-6 pl-xl-2 offset-xl-0 text-center">
                <img src="{% static 'images/New-Bristol-office.png' %}" alt="Bristol Office" class="image">
                <p class="mt-xl-1 mb-xl-0"><em>The new Bristol office</em></p>
            </div>
            <div class="col-12 d-none d-xl-block px-0">
                <p> Glynn Wright, CEO, commented on the move: </p>
                <p><i class="fas fa-quote-left blue pr-2"></i><em>We are delighted to be part of such an entrepreneurial hub. There’s a really dynamic atmosphere connecting technical innovators with scientists, researchers and graduate talent. Aralia will benefit from such an innovative environment.</em><i class="fas fa-quote-right blue pl-1"></i></p>
            </div>
        </div>
    </div>
</div>

<div class="about-glynn px-3 px-md-4 px-lg-5 pt-1 pb-3">

    <div class="container-xl ">
        <h3 class=" pt-4 pb-3 d-md-none text-left font-weight-bold">Meet our Team</h3>
        <h2 class=" pt-4 pt-lg-3 pb-3 d-none d-md-block text-left font-weight-bold">Meet our Team</h2>
        <div class="text-justify">
            <p>The Aralia team includes specialists in project management, marketing, administration, business development, electronics, software, and industrial design. </p>
            <p>Aralia's current management team has designed and delivered several products including robotic surveillance systems, multispectral 3D-devices and AI systems.</p>
            <p>Ms Eleanor Wright is Aralia’s Business Development and Marketing Manager, she has delivered many EPSRC, Innovate UK, Horizon 2020, SBRI and internally funded projects that apply Photometric Stereo to the rail industry.</p>
            <p>Dr Laurence Broadbent is Aralia’s Engineering Manager, he has delivered numerous research and development projects covering surface analysis, robotics, and machine learning. Dr Broadbent has developed an award-winning multispectral NDT test system for detecting surface defects.</p>

            <p class="mb-0 pb-4">Aralia’s CEO, Dr Glynn Wright, has a long association with image processing companies, at times holding the position of VP Engineering, VP Sales & Marketing, CEO and Chairman in the UK and USA. </p>

        </div>
    </div>
</div>
{% endblock %}