{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="bg-img"><img src="{% static 'images/globe-mobile.png' %}" alt="Globe background" class="globe-about"></div>
<div class="text-center px-3 px-md-4 px-lg-5">
    <div class="container-xl">

        <h1 class=" pt-5 mt-3 pb-3 d-md-none font-weight-bold">About us</h1>
        <h1 class=" pt-5 d-none d-md-block font-weight-bold">About us</h1>
        <h3 class="text-justify pb-4 d-md-none">Founded in 1995, Aralia has provided intelligent surveillance solutions since 1997, making it one of the oldest and best-established companies in the intelligent surveillance market.</h3>
        <h2 class="text-justify pb-4 d-none d-md-block ">Founded in 1995, Aralia has provided intelligent surveillance solutions since 1997, making it one of the oldest and best-established companies in the intelligent surveillance market.</h2>
    </div>
</div>
<div class="about-heading text-center px-3 px-md-4 px-lg-5 pt-4">
    <div class="container-xl">

        <div class="text-justify pb-2">
            <h3 class=" pb-2 font-weight-bold text-left d-md-none">History</h3>
            <h2 class=" pt-4 pt-lg-4 pb-3 d-none d-md-block text-left font-weight-bold">History</h2>
            <div class="text-justify">
                <p>For 10 years, Aralia has worked with public, private and government organizations with mission-critical security requirements. A strong international team of engineers and support staff work together to improve and enhance the software and support existing systems.</p>
                <p>
                    Conceived as a solution to secure transportation and critical infrastructure applications, Aralia’s intelligent surveillance software was designed to enhance the overall security of rail systems, airports and public buildings.</p>
                <p>The product suite has been continually enhanced with evolving technologies including metadata querying, object classification based upon machine learning, a RESTful API and multispectral processing.</p>
            </div>
        </div>
    </div>
</div>
<div class="about-content text-justify px-3 px-md-4 px-lg-5 pt-4 pb-3">
    <div class="container-xl">
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0 col-xl-6 pr-2">
                <h3 class=" pb-3 font-weight-bold text-left d-md-none">New Bristol Office</h3>
                <h2 class=" pt-4 pt-lg-4 pb-3 d-none d-md-block text-left font-weight-bold">New Bristol Office</h2>
                <P>More recently Aralia has moved into the study of robotics and 3D imaging (PLEASE FACT CHECK) and has developed inovative new products in the form of their 4g Smart video recording camera and their 3D Illuminator, the latter a handy device which attaches to a mobile phone to reveal 3D images of any surface to a depth of 5mm. These projects are still at the prototype stage and investment is being sought to take them further. You can read more about them here and here.</P>
                <p> Now employing HOW MANY?? staff over three offices, Aralia’s headquarters are located in Horsham, West Sussex, England and the US office is located in Baltimore, Maryland. In January 2017 Aralia’s research and development team moved to a high tech office in Bristol.

                    Located in the new Future Space offices, within the Bristol Robotics Laboratory in the main University of the West of England campus, the recently refurbished offices and laboratories provide fresh, modern and forward-thinking surroundings with well-equipped meeting rooms and an onsite restaurant which holds regular networking events and workshops.</p>
                <p class="d-xl-none"> Glynn Wright, CEO, commented on the move: </p>
                <p class="d-xl-none"><i class="fas fa-quote-left blue  pr-2"></i><em>We are delighted to be part of such an entrepreneurial hub. There’s a really dynamic atmosphere connecting technical innovators with scientists, researchers and graduate talent. Aralia will benefit from such an innovative environment.</em><i class="fas fa-quote-right blue pl-1"></i></p>
            </div>

            <div class="col-12 p-0 pt-2 col-sm-10 col-lg-8 offset-sm-1 offset-lg-2 col-xl-6 pl-xl-2 offset-xl-0 text-center">
                <img src="{% static 'images/New-Bristol-office.png' %}" alt="Bristol Office" class="image">
                <p class="mt-xl-1 mb-xl-0"><em>The new Bristol office</em></p>
            </div>
            <div class="col-12 d-none d-xl-block px-0">
                <p> Glynn Wright, CEO, commented on the move: </p>
                <p><i class="fas fa-quote-left blue pr-2"></i><em>We are delighted to be part of such an entrepreneurial hub. There’s a really dynamic atmosphere connecting technical innovators with scientists, researchers and graduate talent. Aralia will benefit from such an innovative environment.</em><i class="fas fa-quote-right blue pl-1"></i></p>
            </div>
        </div>
    </div>
</div>

<div class="about-glynn px-3 px-md-4 px-lg-5 pt-1 pb-3">
    <!-- <h3 class=" pt-3 d-md-none text-left font-weight-bold">Meet our founder and CEO</h3>
    <h2 class=" pt-4 pt-lg-4 pb-3 d-none d-md-block text-left font-weight-bold">Meet our founder and CEO</h2> -->
    <div class="container-xl ">
        <h3 class=" pt-4 pb-3 d-md-none text-left font-weight-bold">A family run business</h3>
        <h2 class=" pt-4 pt-lg-3 pb-3 d-none d-md-block text-left font-weight-bold">A family run business</h2>
        <div class="text-justify">
            <p>Aralia's founder and CEO, Dr Glynn C Wright has 30 years’ experience in the computing industry, with special emphasis in image analysis. He obtained his BSc in Electronics from the University of Dundee. His postgraduate qualifications include an MSc in Control Theory, DIC, and a PhD in Estimation Theory from Imperial College.</p>
            <p>Before founding Aralia Systems Ltd, Glynn led several image processing projects in Europe and America. As the Technical Director at GE Medical in Milwaukee, he headed the team responsible for the image analysis and display of the first commercial MRI scanner. He later served as the Technical Director of a team that developed a fault-tolerant system used for distributing aircraft information to flight controllers for Southern England.
            </p>
            <p class="mb-0 pb-4">Glynn founded Aralia Systems Ltd in 1995 and began work on its unique set of innovative and pioneering algorithms. Since its creation, Aralia has been at the forefront of the intelligent surveillance market.</p>



            <p>In latter years both Glynn's children, Dan and Ellie have become integral members of the team.</p>
            <p>Ellie holds an MA in Marketing and is now Aralia's head of Marketing. Dan meanwhile has followed in his father's footsteps and has a PhD in computer science (true?). Dan is based in Texas with his young family where he works on WHAT??</p>
            <p>PHOTO OPPORTUNITY.. THE WHOLE TEAM??</p>
        </div>
    </div>
</div>
{% endblock %}