{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home-content text-center TOP">
    <div class="container-xl px-0 text-center">
        <div class="container-xl px-0 slide-in home-text text-center">
            <h1 class="px-4 resize">Advanced imaging and surveillance software solutions for a global society.</h1>
        </div>
        <div class=" row mx-0 px-md-4 home-content-row">
            <div class="col-12 col-sm-10 offset-sm-1 offset-md-0 pb-4 col-md-4 slide-up">
                <a href="{% url 'product-suite' %}" class="home-a a1 ">
                    <div class="card py-3 px-2 px-lg-3 home-card">
                        <h2 class="black pt-3 d-md-none d-lg-block">Intelligent Surveillance</h2>
                        <h3 class="black pt-3 d-none d-md-block d-lg-none">Intelligent Surveillance</h3>
                        <div class="col-8 offset-2">
                            <div class="img-container">
                                <img src="{% static 'images/intell_surveillance/camera-surveillance-no-bg.png' %}" alt="Camera Surveillance" class="prev-img py-2">
                            </div>
                        </div>
                        <div class="text-justify prev-text">
                            <p class="pb-0 mb-0 black px-sm-5 px-2 px-md-2">Aralia's advanced intelligent surveillance system consists of three parts which work together to identify, process and analyse potential threats.</p>
                            <p class="learn-more grey pl-2 pl-sm-5 pt-4 pl-md-2">Learn more...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 offset-md-0 pb-4 col-md-4 slide-up2">
                <a href="{% url 'smartcamera' %}" class="home-a a2 opaque">
                    <div class="card py-3  px-2 px-lg-3 home-card">
                        <h2 class="black pt-3 d-md-none d-lg-block">Smart Video Recording</h2>
                        <h3 class="black pt-3 d-none d-md-block d-lg-none">Smart Video Recording</h3>
                        <div class="col-10 offset-1">
                            <div class="img-container">
                                <img src="{% static 'images/smartcamera/camera.png' %}" alt="Smart Camera" class="prev-img py-2">
                            </div>
                        </div>
                        <div class="text-justify prev-text">
                            <p class="pb-0 mb-0 black px-sm-5 px-2 px-md-2">Aralia’s smart video recorder is a low-cost anti-trespassing system that can be deployed in remote or challenging locations to reliably monitor and report rail disturbances.</p>
                            <p class="learn-more grey pl-2 pl-sm-5 pt-4 pl-md-2">Learn more...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 offset-md-0 pb-4 col-md-4 slide-up3">
                <a href="{% url 'surfacescanner' %}" class="home-a a3 opaque">
                    <div class="card py-3 px-2 px-lg-3 home-card">
                        <h2 class="black pt-3 d-md-none d-lg-block">3D Surface Scanners</h2>
                        <h3 class="black pt-3 d-none d-md-block d-lg-none">3D Surface Scanners</h3>
                        <div class="col-10 offset-1">
                            <div class="img-container">
                                <img src="{% static 'images/surfacescanner/AT-002b.png' %}" alt="3D Scanner" class="prev-img py-2">
                            </div>
                        </div>
                        <div class="text-justify prev-text">
                            <p class="pb-0 mb-0 black px-2 px-sm-5 px-md-2">Aralia designs and manufactures a range of devices that recover 3D surface detail in high-resolution. Additionally, the sensors can be configured to image the subsurface structure. </p>
                            <p class="learn-more grey pl-2 pl-sm-5 pt-4 pl-md-2">Learn more...</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $(".a2").delay(850).queue(function() {
        $(this).removeClass("opaque").dequeue();
    });


    $(".a3").delay(1650).queue(function() {
        $(this).removeClass("opaque").dequeue();
    });
</script>
{% endblock %}