{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home-content text-center TOP">
    <div class="container-xl px-0 text-center">
        <div class="container-xl px-0 slide-in home-text text-center">
            <h1 class="px-4 resize">Advanced imaging and surveillance software solutions for a global society.</h1>
        </div>
        <div class=" row mx-0 home-content-row">
            <div class="col-12 col-md-4">
                <a href="{% url 'product-suite' %}" class="home-a">
                    <div class="card pt-2 pt-lg-3 px-2 px-lg-3 home-card">
                        <h2 class="black ">Intelligent Surveillance</h2>
                        <div class="col-8 offset-2">
                            <img src="{% static 'images/intell_surveillance/camera-surveillance.png' %}" alt="Camera Surveillance" class="prev-img py-2">
                        </div>
                        <div class="text-justify prev-text">
                            <p class="pb-0 mb-0 black">Aralia's advanced intelligent surveillance system consists of three parts which work together to identify, process and analyse potential threats.</p>
                            <p class="pt-3 grey ">Learn more...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="{% url 'product-suite' %}" class="grey ">
                    <div class="card">
                        <h2>Intelligent Surveillance</h2>
                        <div class="col-8 offset-2">
                            <img src="{% static 'images/intell_surveillance/camera-surveillance.png' %}" alt="Camera Surveillance" class="prev-img py-2">
                        </div>
                        <div class="text-justify small prev-text">
                            <p class="pb-0 mb-0">Aralia's advanced intelligent surveillance system consists of three parts which work together to identify, process and analyse potential threats.</p>
                            <p>Learn more...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="{% url 'product-suite' %}" class="grey ">
                    <div class="card">
                        <h2>Intelligent Surveillance</h2>
                        <div class="col-8 offset-2">
                            <img src="{% static 'images/intell_surveillance/camera-surveillance.png' %}" alt="Camera Surveillance" class="prev-img py-2">
                        </div>
                        <div class="text-justify small prev-text">
                            <p class="pb-0 mb-0">Aralia's advanced intelligent surveillance system consists of three parts which work together to identify, process and analyse potential threats.</p>
                            <p>Learn more...</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>

{% endblock %}