{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'investors/css/investors.css' %}">
{% endblock %}

{% block content %}
<div class="underlay">
    {% if not error%}
    <h3 class="pt-5">Access to this area of the site is resticted. If you know the password to continue please enter it here</h3>
    {% endif %}
    {% if error %}
    <h3 class="red pt-5">You have entered an incorrect password. Please try again</h3>
    {% endif %}

    <div class="jumbotron-container">

        <div class="jumbotron">


            <form class="{% url 'investors' %}" action="" method="POST">

                {% csrf_token %}

                <input id="" class="" name="password" placeholder="Enter password" required>

            </form>
        </div>
    </div>
</div>

{% endblock %}