@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
}

section {
    width: 100vw !important;
}


h1 {
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    line-height: 1.6;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
}

/* HEADER */
header {
    z-index: 1039 !important;
    background-color: transparent !important;
}

.header-area {
    background-color: #fff !important;
}

.navbar {
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    height: fit-content !important;
}

.navbar .navbar-brand {
    font-size: 2.5rem;
}

.header-logo {
    width: 75%;
}

@media screen and (min-width:768px) {

    .header-logo {
        width: 100%;
    }
}

@media screen and (max-width: 1110px) {
    a.navbar-brand {
        max-width: 158px !important;
    }

    a.nav-item.nav-link {
        padding: 23px 8px !important;
    }
}

@media screen and (max-width: 935px) {
    a.navbar-brand {
        max-width: 130px !important;
    }

    .header-logo {
        max-width: 130px;
    }

    a.nav-item.nav-link {
        padding: 23px 6px !important;
        font-size: 87% !important;
    }

}

@media screen and (max-width: 800px) {
    a.navbar-brand {
        max-width: 90px !important;
    }

    .header-logo {
        max-width: 95px;
    }

    a.nav-item.nav-link {
        padding: 23px 6px !important;
        font-size: 80% !important;
    }
}

@media screen and (max-width:767px) {

    .header-logo {
        width: 140px !important;
    }

    a.navbar-brand {
        width: 140px !important;
    }

    a.nav-item.nav-link {
        padding: 8px !important;
        font-size: initial !important;
    }
}


@media screen and (max-width:500px) {

    a.navbar-brand {
        width: 175px !important;
    }
}

@media screen and (max-width:337px) {

    a.navbar-brand {
        width: 100px !important;
    }
}


.navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}

.navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: black;
    opacity: 0;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in;
}

.navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;

    transform: translateY(-1px) rotate(45deg);
}

.navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;

    transform: translateY(-1px) rotate(135deg);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {

    transform: translateY(-7px) rotate(0);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {

    transform: translateY(5px) rotate(0);
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: black;
    font-size: 1.6rem;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: black;
}

.nav-link a {
    color: black !important;
}

.navbar .dropdown-menu {
    padding: 0;
    background-color: rgba(215, 215, 215, 0.9);
}

@media screen and (min-width: 768px) {
    .navbar .dropdown-menu {

        background-color: rgba(100, 100, 100, 0.9);
    }
}

.navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: color 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #5bc4ec;
    ;
}


.navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}

.navbar.fixed-top {
    position: fixed;
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: black;
}

.show {
    color: black !important;
}

.content {
    padding: 120px 0;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        margin-left: 20px;
    }

    .navbar-nav {
        padding: 0 20px;
        background-color: rgba(215, 215, 215, 0.9);
    }

    .navbar.fixed-top .navbar-nav {
        background: transparent;
    }
}

@media screen and (min-width: 767px) {

    .navbar-dark .navbar-nav .nav-link {
        padding: 23px 15px;
    }

    .navbar-dark .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        bottom: 15px;
        left: 20%;
        right: 20%;
        height: 1px;
        background-color: #5bc4ec;
        ;

        transform: scaleX(0);
        transition: transform 0.1s ease-in;
    }

    .navbar-dark .navbar-nav .nav-link:hover::after {

        transform: scaleX(1);
    }

    .dropdown-menu {
        min-width: 200px;

        animation: growDown 0.3s ease-in-out forwards;

        transform-origin: top;
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

.navbar .dropdown-menu {
    padding: 0;
    background-color: rgba(100, 100, 100);
}

/* SCROLL SNAP */
.showing {
    margin-top: 0 !important;
}

.hiding {
    margin-top: -177px !important;
}

@media screen and (max-width: 767px) {
    .hiding {
        margin-top: 0 !important;
    }
}

/* CONTENT */
@media screen and (max-width:767px) {
    .temp {
        min-height: calc(100vh - 500px);
    }
}

.temp {
    min-height: calc(100vh - 130px) !important;
}

.page-content {
    padding-top: 65px;
    overflow-x: hidden !important;
    position: relative;
}

@media screen and (min-width: 935px) {
    .page-content {
        padding-top: 106px;
    }
}

@media screen and (min-width: 1110px) {
    .page-content {
        padding-top: 115px;
    }
}

.shadow {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.6) !important;
    margin: 0 0 0 0;
}

/* FOOTER */
.footer a {
    color: rgb(104, 106, 107) !important;
}

.footer {
    background-color: rgba(235, 236, 235, 255);
    color: rgb(104, 106, 107) !important;
    width: 100vw;
    background-image: url('../images/globe-mobile.png');
    background-size: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    width: 100vw;
    z-index: 1039 !important;
    position: relative;
    ;
}

@media screen and (min-width:769px) {
    .footer {
        background-image: url('../images/globe-desktop.png');
        background-size: 55%;
    }
}


.footer {
    padding-left: 10px !important;
}

.links {
    display: none;
}

.social-p {
    text-align: center;
}

@media screen and (min-width:320px) {
    .ft-col-pad {
        padding-left: 25px !important;
    }

    .norm-tel {
        display: none;
    }
}

@media screen and (min-width:380px) {
    .ft-col-pad {
        padding-left: 45px !important;
    }

    .footer {
        padding-top: 10px;
    }
}

@media screen and (min-width:460px) {
    .v-sm-tel {
        display: none;
    }

    .norm-tel {
        display: inline;
    }

    .footer {
        padding-left: 25px !important;
    }

    .links {
        display: inline;
    }

    .social-p {
        text-align: left;
    }

    .ft-links-col {
        padding-left: 35px;
    }
}

@media screen and (min-width:650px) {
    .footer {
        padding-left: 40px !important;
    }
}

@media screen and (min-width:768px) {
    .footer {
        padding-left: 0 !important;
    }
}

.footer p {
    font-size: small;
}

.not-small {
    font-size: 90% !important;
}

@media screen and (min-width: 992px) {
    .footer p {
        font-size: 100%;
    }

    .not-small {
        font-size: 110% !important;
    }

    .links {
        font-size: 80%;
    }

    .footer {
        padding-left: 40px !important;
    }
}

@media screen and (min-width:1300px) {
    .links {
        font-size: 100%;
    }

    .footer {
        padding-left: 20px !important;
    }

    .ft-col-pad {
        padding-left: 80px !important;
    }

    .ft-links-col {
        padding-left: 50px;
    }

    .footer-logo {
        padding-left: 40px !important;
        width: 150px !important;
    }
}

@media screen and (min-width:1500px) {
    .ft-col-pad {
        padding-left: 110px !important;
    }
}

.social {
    width: 40px;
}

.footer-logo {
    width: 60px;
}

@media screen and (min-width:768px) {
    .footer-logo {
        width: 100px;
    }
}

.smaller {
    font-size: 1.2rem !important;
}

.black {
    color: black !important;
}

/* COLORS AND UNIVERSAL STYLES */
.red {
    color: red;
}

.blue {
    color: #2c92ba !important;
}

.large {
    font-size: 115%;
}

.grey {
    color: rgb(104, 106, 107) !important;
}

.cust-btn {
    border: 1px solid black;
    width: 10rem !important;
    height: 3.5rem !important;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border-radius: 0;
    background-color: rgba(235, 236, 235, 255);

}

.cust-btn:hover {
    background-color: #fff;
    color: rgb(104, 106, 107);
}

/* NOT WORKING */
/* .cust-btn:hover+.cancel-btn {
    background-color: rgba(235, 236, 235, 255);
    color: black;
} */

.cancel-btn {
    background-color: #fff;
    vertical-align: middle;
    padding-top: 5px;
}

.cancel-btn:hover {
    background-color: rgba(235, 236, 235, 255);
    color: black;
}

/* NOT WORKING */
/* .cancel-btn:hover+.cust-btn {
    background-color: #fff;
    color: rgb(104, 106, 107);
} */

.underline {
    text-decoration: underline;
}

.image {
    width: 100%;
    height: auto;
}