.background {
    width: 100vw;

}

.background-img {
    width: 100vw;
    z-index: -4 !important;
    position: absolute;
}

.top {
    z-index: 2 !important;
}

.first-text {
    margin-top: 45%;
    overflow-x: hidden;
}

@media screen and (min-width: 1200px) {
    .first-text {
        margin-top: 85%;
    }
}

@media screen and (min-width: 1300px) {
    .first-text {
        margin-top: 55%;
    }
}

@media screen and (min-width: 1440px) {
    .first-text {
        margin-top: 60%;
    }
}

@media screen and (min-width: 1550px) {
    .first-text {
        margin-top: 65%;
    }
}

@media screen and (min-width: 1700px) {
    .first-text {
        margin-top: 70%;
    }

}

@media screen and (min-width: 1830px) {
    .first-text {
        margin-top: 75%;
    }
}

@media screen and (min-width: 1925px) {
    .first-text {
        margin-top: 80%;
    }
}

@media screen and (min-width: 2050px) {
    .first-text {
        margin-top: 85%;
    }
}


@media screen and (min-width:418px) {
    .hide {
        display: none !important;
    }

    .show-title {
        display: block !important;
    }

}

@media screen and (min-width:768px) {
    .show-title {
        display: none !important;
    }

}

.blue {
    color: rgb(69, 90, 162) !important;
}

.helv {
    font-family: Helvetica, sans-serif;
    font-weight: 100 !important;
}

@media screen and (min-width:1200px) {
    .title {
        font-size: 2.8vw !important;
    }
}

.card {
    border: none;
    background-color: transparent;
}

.fa-circle {
    color: #ffa500 !important;
    padding-right: 5px;
}

.scanner-li li {
    padding: 12px 0;
}

@media screen and (min-width: 992px) {
    .scanner-li li {
        padding: 20px 0;
    }
}

.large {
    font-size: 115%;
}

.info-graphic {
    width: 100%;
    height: auto;
}

.industry {
    width: 100%;
    height: auto;
}