.background-img {
    position: absolute;
}

.under {
    z-index: -4 !important;
}

.top {
    z-index: 2 !important;
}

.top-title {
    margin-top: 5%;
}

.first-text {
    margin-top: 20%;
    overflow-x: hidden;

}

.white {
    color: white;
    font-weight: bold;
}

.orange {
    color: orange;
    font-weight: bold;
}

.title {
    font-size: 5vw;
}

.big-title {
    font-size: 5.5vw !important;
}

@media screen and (min-width: 430px) {

    .big-title {
        font-size: 5vw !important;
    }

    .first-text {
        margin-top: 26%;
    }

    .title {
        font-size: 4.7vw;
    }
}

@media screen and (min-width: 530px) {
    .big-title {
        font-size: 4.8vw !important;
    }

    .title {
        font-size: 3.5vw !important;
        font-weight: bold !important;
    }

    .top-title {
        letter-spacing: 3px;
    }

    .first-p {
        margin-top: 5%;
    }
}

@media screen and (min-width: 600px) {
    .first-text {
        margin-top: 20%;
    }
}

@media screen and (min-width: 768px) {
    .first-text {
        margin-top: 15%;
    }

    .scanner-li {
        margin-top: 25%;
    }
}

@media screen and (min-width: 900px) {
    .title {
        font-size: 3vw !important;
    }

    .scanner-li {
        margin-top: 35%;
    }

    .big-title,
    .top-title {
        font-size: 4.2vw !important;
    }

    .first-text {
        margin-top: 25%;

    }
}


@media screen and (min-width: 1200px) {
    .first-text {
        margin-top: 27% !important;
    }

    .big-title,
    .top-title {
        font-size: 3.5vw !important;
    }

    .title {
        font-size: 2.5vw !important;
    }
}

@media screen and (min-width: 1300px) {
    .first-text {
        margin-top: 27%;
    }
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 2vw !important;
    }

    .scanner-li {
        margin-top: 120px;
    }

    .big-title,
    .top-title {
        font-size: 3vw !important;
    }
}

.blue {
    color: #5bc4ec !important;
}

.helv {
    font-family: Helvetica, sans-serif;
    font-weight: 100 !important;
}

.card {
    border: none;
    background-color: transparent;
}

.card p {
    text-align: justify !important;
}

.scanner-li-2 {
    text-align: justify !important;
}

.fa-circle {
    color: #5bc4ec !important;
    padding-right: 5px;
}

.scanner-li li {
    padding: 12px 0;
}

@media screen and (min-width: 992px) {
    .scanner-li li {
        padding: 20px 0;
    }
}

.large {
    font-size: 115%;
}

.info-graphic {
    width: 100%;
    height: auto;
}

.industry {
    width: 100%;
    height: auto;
}

.scanner-li-2 {
    padding: 20px;
}

.scanner-li-2 li {
    padding: 15px 0;
}