.my_form {
    width: 100% !important;
    margin: 10px 0;
    border-radius: 0px;
    border-color: black;
    border-width: 1px;
}

.errorlist {
    color: red;
}

.read-gdpr {
    border: none;
    background-color: transparent;
    padding-left: 0;
}

.read-gdpr:hover {
    text-decoration: underline;
}

.modal-dialog {

    min-width: 60vw !important;
}

.modal-content {
    border-radius: 0 !important;
}

.modal-header,
.modal-footer {
    border: 0;
}

.modal-header {
    font-size: initial !important;

}