/* NEW */
.resize {
    font-size: 95%;
    padding-top: 35px;
}

@media screen and (min-width:830px) {
    .resize {
        padding-top: 45px;
        padding-bottom: 10px;
    }

}

.home-content-row {
    margin-top: 30px;
}

.home-content {
    background: radial-gradient(circle at center, #fffce4, #78bcd4);
    z-index: -4;
    min-height: calc(100vh - 120px) !important;
    width: 100vw;
}

.home-text {
    position: relative;
    z-index: 2;
}

.prev-text p {
    line-height: 140% !important;
}

.img-container {
    min-height: 270px;
    display: flex;
    justify-content: center;
    padding: 3vw 0;
}

.home {
    width: 100%;
    height: auto;
}

.home-a:hover {
    text-decoration: none;
}


.home-a:hover .learn-more {
    text-decoration: underline !important;
}

.home-card {
    background-color: rgba(255, 255, 255, 0.41);
    border-radius: 0;
    border: 0;
    height: fit-content;
    display: block !important;
    margin: 2.5vw 0;
}

@media screen and (min-width:768px) {
    .home-card {
        height: 51rem;
        margin: 0;
    }

    .img-container {
        min-height: 27vw;
        padding: 0;
    }

    .learn-more {
        position: absolute;
        bottom: 3px;
    }

    .home-content-row {
        margin-top: 30px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width:850px) {
    .home-card {
        height: 53rem;
    }

}

@media screen and (min-width:1000px) {
    .home-card {
        height: 52.5rem;
    }

    .img-container {
        min-height: 260px;
    }

}

@media screen and (min-width:1200px) {
    .img-container {
        min-height: 310px;
    }

    .home-card {
        height: 54rem;
    }
}

.prev-img {
    width: 100%;
    object-fit: contain;
}



/* PREVIEWS  */
.preview {
    position: absolute;
    height: 250px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    bottom: -145px;
    left: 80px;
    z-index: 9999999999 !important;
}

.preview:hover {
    text-decoration: none;
}

.prev-img {
    width: 100%;
    object-fit: contain;
}




@media screen and (min-width: 768px) {
    .preview {
        width: 190px;
        left: 45px;
    }

    .scan-prev {
        left: 30px;
    }
}

@media screen and (min-width: 850px) {
    .preview {
        width: 200px;
        left: 50px;
    }
}

@media screen and (min-width: 900px) {
    .preview {
        width: 220px;
    }

    .scan-prev {
        left: 40px;
    }
}

@media screen and (min-width: 1000px) {
    .preview {

        left: 65px;
    }

    .scan-prev {
        left: 55px;
    }
}

@media screen and (min-width: 1100px) {
    .preview {
        left: 80px;
    }

    .scan-prev {
        left: 70px;
    }
}

.scan-prev,
.vid-prev,
.intell-prev {

    display: none;
}

@media screen and (min-width:768px) {

    .link3:hover+.scan-prev {
        display: block;
    }

    .scan-prev:hover {
        display: block;
    }

    .link2:hover+.vid-prev {
        display: block;
    }

    .vid-prev:hover {
        display: block;
    }

    .link1:hover+.intell-prev {
        display: block;
    }

    .intell-prev:hover {
        display: block;
    }

    .a1:hover,
    .a2:hover,
    .a3:hover {
        text-decoration: none !important;
    }
}



/* SLIDE IN */
.slide-in {

    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: -100%;

    }

    to {
        margin-left: 0%;

    }
}


/* LINKS */
.home-links {

    position: absolute;
    bottom: 220px;
    z-index: 1037 !important;
    top: auto;

}

.TOP {
    z-index: 1037 !important;
}

.home-links a {
    color: rgb(69, 90, 162);
}

/* SLIDE UP */

.opaque {
    color: rgba(69, 90, 162, 0.0) !important;
    ;
}

.link1 {
    animation-delay: 1s;
    position: absolute;
}

.link2 {
    animation-delay: 2.2s;
    position: absolute;
}

.link3 {
    animation-delay: 3.3s;
    position: absolute;
}

.slide-up {

    left: 50%;
    transform: translate(-50%);

    animation-duration: 1.1s;
    animation-name: slideup;
}


@keyframes slideup {
    from {
        bottom: -200px
    }

    to {
        bottom: -72px;

    }
}



@media screen and (min-width:768px) {
    .resize {
        font-size: 180%;

    }

    .links-resize {
        font-size: 400%;
    }

    .home-img {
        padding-bottom: 135px;
    }

    .slide-up {
        left: 23%;
        transform: translate(-10%);
        padding-top: 100px;

        animation-name: slideup;
    }


    @keyframes slideup {
        from {
            bottom: -250px
        }

        to {
            bottom: -157px;
        }
    }
}

.slide-up2 {

    left: 50%;
    transform: translate(-50%);
    padding-top: 50px;

    animation-duration: 1.1s;
    animation-name: slideup2;
}




.slide-up3 {

    left: 50%;
    transform: translate(-50%);
    padding-top: 100px;

    animation-duration: 1.1s;
    animation-name: slideup3;
}




@media screen and (max-width: 767px) {

    .home-img {
        padding: 140px 40px 230px;
        z-index: 1;
    }

    .resize {
        font-size: 160%;
        padding-top: 35px;
    }

    .links-resize {
        font-size: 150%;
    }


    .slide-up3 {

        padding-top: 139px;

        animation-name: slideup3;
    }


    @keyframes slideup3 {
        from {
            bottom: -250px
        }

        to {
            bottom: -210px;

        }
    }

    .slide-up2 {


        padding-top: 83px;
        animation-name: slideup2;
    }


    @keyframes slideup2 {
        from {
            bottom: -250px
        }

        to {
            bottom: -155px;

        }
    }

    .slide-up {

        padding-top: 26px;
        animation-name: slideup;
    }


    @keyframes slideup {
        from {
            bottom: -200px
        }

        to {
            bottom: -97px;
        }
    }
}


@media screen and (max-width: 650px) {
    .resize {
        font-size: 140%;
    }

    .links-resize {
        font-size: 110%;
    }

    .home-img {
        padding: 127px 0 150px 27px;
    }

    .slide-up3 {

        padding-top: 150px;
        animation-name: slideup3;
    }


    @keyframes slideup3 {
        from {
            bottom: -250px
        }

        to {
            bottom: -210px;

        }
    }

    .slide-up2 {


        padding-top: 100px;
        animation-name: slideup2;
    }


    @keyframes slideup2 {
        from {
            bottom: -250px
        }

        to {
            bottom: -160px;

        }
    }

    .slide-up {

        padding-top: 50px;
        animation-name: slideup;
    }


    @keyframes slideup {
        from {
            bottom: -200px
        }

        to {
            bottom: -110px;

        }
    }
}

@media screen and (max-width: 450px) {
    .resize {
        font-size: 120%;
        padding-top: 35px;
    }

    .links-resize {
        font-size: 85%;
    }

    .slide-up3 {

        padding-top: 112px;
        animation-name: slideup3;
    }

    .home-img {
        padding: 100px 0 135px 27px;
    }


    @keyframes slideup3 {
        from {
            bottom: -250px
        }

        to {
            bottom: -165px;

        }
    }

    .slide-up2 {


        padding-top: 82px;
        animation-name: slideup2;
    }


    @keyframes slideup2 {
        from {
            bottom: -250px
        }

        to {
            bottom: -135px;

        }
    }

    .slide-up {

        padding-top: 52px;
        animation-name: slideup;
    }


    @keyframes slideup {
        from {
            bottom: -200px
        }

        to {
            bottom: -105px;

        }
    }
}

@media screen and (max-width: 350px) {


    .links-resize {
        font-size: 12px;
        font-weight: bold;
    }

    .slide-up3 {

        padding-top: 130px;
        animation-name: slideup3;
    }

    .home-img {
        padding: 100px 0 125px 27px;
    }


    @keyframes slideup3 {
        from {
            bottom: -250px
        }

        to {
            bottom: -181px;

        }
    }

    .slide-up2 {


        padding-top: 102px;
        animation-name: slideup2;
    }


    @keyframes slideup2 {
        from {
            bottom: -250px
        }

        to {
            bottom: -152px;

        }
    }

    .slide-up {

        padding-top: 75px;
        animation-name: slideup;
    }


    @keyframes slideup {
        from {
            bottom: -198px
        }

        to {
            bottom: -126px;
        }
    }
}

@media screen and (min-width: 768px) {
    .links-resize {
        font-size: 100%;
    }

    .resize {
        font-size: 135%;

    }
}


@media screen and (min-width: 850px) {
    .links-resize {
        font-size: 110%;
    }

    .resize {
        font-size: 22px;
    }



    @keyframes slideup {
        from {
            bottom: -250px
        }

        to {
            bottom: -160px;
        }
    }
}



@media screen and (min-width: 900px) {
    .resize {
        font-size: 27px;
    }

    .links-resize {
        font-size: 120%;
    }

    @keyframes slideup {
        from {
            bottom: -250px
        }

        to {
            bottom: -164px;

        }
    }
}



@media screen and (min-width: 1040px) {
    .links-resize {
        font-size: 140%;
    }

    .resize {
        font-size: 27px;
    }

    @keyframes slideup {
        from {
            bottom: -250px
        }

        to {
            bottom: -169px;
        }
    }
}



/* ABOUTPAGE */

.globe-about {
    width: 200%;
    height: auto;
    padding-top: 80px;
    position: absolute;
    z-index: -4;
    opacity: 0.7;
    left: -50px;
}

@media screen and (min-width: 550px) {
    .globe-about {
        width: 150%;
    }
}

@media screen and (min-width: 600px) {
    .globe-about {
        width: 115%;
    }
}

@media screen and (min-width: 720px) {
    .globe-about {
        width: 100%;
        padding-top: 0;
    }
}

@media screen and (min-width: 865px) {
    .globe-about {
        width: 80%;

    }
}

@media screen and (min-width: 945px) {
    .globe-about {
        width: 65%;
        left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .globe-about {
        width: 50%;
        left: 100px;
    }
}



@media screen and (min-width: 1577px) {
    .globe-about {
        width: 45%;
        left: 200px;
    }
}

@media screen and (min-width: 1750px) {
    .globe-about {
        width: 40%;
        left: 400px;
    }
}

@media screen and (min-width: 1950px) {
    .globe-about {
        width: 35%;
        left: 500px;
    }
}

@media screen and (min-width: 2230px) {
    .globe-about {
        width: 30%;
    }
}


.about-heading {
    background-color: rgba(120, 188, 212, 0.1);
    padding: 0;
}

.about-glynn {
    background-color: rgba(255, 252, 227, 0.4);
    padding: 0;
}