/* NEW */
.resize {
    font-size: 95%;
    padding-top: 35px;
}

@media screen and (min-width:830px) {
    .resize {
        padding-top: 45px;
        padding-bottom: 10px;
    }
}

.home-content-row {
    margin-top: 30px;
}

.home-content {
    background: radial-gradient(circle at center, #fffce4, #78bcd4);
    z-index: -4;
    min-height: calc(100vh - 120px) !important;
    width: 100vw;
}

.home-text {
    position: relative;
    z-index: 2;
}

.prev-text p {
    line-height: 140% !important;
}

.img-container {
    min-height: 270px;
    display: flex;
    justify-content: center;
    padding: 3vw 0;
}

.home {
    width: 100%;
    height: auto;
}

.home-a:hover {
    text-decoration: none;
}


.home-a:hover .learn-more {
    text-decoration: underline !important;
}

.home-card {
    background-color: rgba(255, 255, 255, 0.41);
    border-radius: 0;
    border: 0;
    height: fit-content;
    display: block !important;
    margin: 2.5vw 0;
}

@media screen and (min-width:768px) {
    .home-card {
        height: 51rem;
        margin: 0;
    }

    .img-container {
        min-height: 27vw;
        padding: 0;
    }

    .learn-more {
        position: absolute;
        bottom: 3px;
    }

    .home-content-row {
        margin-top: 30px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width:850px) {
    .home-card {
        height: 53rem;
    }

}

@media screen and (min-width:1000px) {
    .home-card {
        height: 52.5rem;
    }

    .img-container {
        min-height: 260px;
    }

}

@media screen and (min-width:1200px) {
    .img-container {
        min-height: 310px;
    }

    .home-card {
        height: 54rem;
    }
}

.prev-img {
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width:768px) {
    .opaque {
        display: none !important;

    }
}


.prev-img {
    width: 100%;
    object-fit: contain;
}

/* SLIDE IN */
.slide-in {

    animation-duration: 1s;
    animation-name: slidein;
    position: relative;
}

@keyframes slidein {
    from {
        margin-left: -100%;

    }

    to {
        margin-left: 0%;

    }
}


/* SLIDE UP */


@media screen and (min-width:768px) {
    .resize {
        font-size: 180%;

    }

    .home-content {

        max-height: 662px !important;

    }


    .slide-up {

        animation-duration: 1s;
        animation-name: slideup;
        z-index: 0 !important;
    }


    @keyframes slideup {
        from {
            padding-top: 120%
        }

        to {
            padding-top: 0%;
        }
    }
}

.slide-up2 {


    animation-delay: 0.8s;
    animation-duration: 1s;
    animation-name: slideup;
    z-index: 0;
}



.slide-up3 {
    animation-delay: 1.6s;
    animation-duration: 1s;
    animation-name: slideup;
    z-index: 0;
}




@media screen and (max-width: 767px) {

    .resize {
        font-size: 160%;
        padding-top: 35px;
    }

}


@media screen and (max-width: 650px) {
    .resize {
        font-size: 140%;
    }


}

@media screen and (max-width: 450px) {
    .resize {
        font-size: 120%;
        padding-top: 35px;
    }
}

@media screen and (max-width: 350px) {}

@media screen and (min-width: 768px) {
    .resize {
        font-size: 135%;

    }
}

@media screen and (min-width: 850px) {
    .resize {
        font-size: 22px;
    }

    .home-content {
        max-height: 675px !important;
    }
}

@media screen and (min-width: 900px) {
    .resize {
        font-size: 27px;
    }

    .home-content {
        max-height: 715px !important;
    }

}

@media screen and (min-width: 1000px) {
    .home-content {
        max-height: 710px !important;
    }

}

@media screen and (min-width: 1040px) {

    .resize {
        font-size: 27px;
    }


}

@media screen and (min-width: 1029px) {
    .home-content {
        max-height: 677px !important;
    }
}

@media screen and (min-width: 1200px) {
    .home-content {
        max-height: 692px !important;
    }
}


/* ABOUTPAGE */

.globe-about {
    width: 200%;
    height: auto;
    padding-top: 80px;
    position: absolute;
    z-index: -4;
    opacity: 0.7;
    left: -50px;
}

@media screen and (min-width: 550px) {
    .globe-about {
        width: 150%;
    }
}

@media screen and (min-width: 600px) {
    .globe-about {
        width: 115%;
    }
}

@media screen and (min-width: 720px) {
    .globe-about {
        width: 100%;
        padding-top: 0;
    }
}

@media screen and (min-width: 865px) {
    .globe-about {
        width: 80%;

    }
}

@media screen and (min-width: 945px) {
    .globe-about {
        width: 65%;
        left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .globe-about {
        width: 50%;
        left: 100px;
    }
}



@media screen and (min-width: 1577px) {
    .globe-about {
        width: 45%;
        left: 200px;
    }
}

@media screen and (min-width: 1750px) {
    .globe-about {
        width: 40%;
        left: 400px;
    }
}

@media screen and (min-width: 1950px) {
    .globe-about {
        width: 35%;
        left: 500px;
    }
}

@media screen and (min-width: 2230px) {
    .globe-about {
        width: 30%;
    }
}


.about-heading {
    background-color: rgba(120, 188, 212, 0.1);
    padding: 0;
}

.about-glynn {
    background-color: rgba(255, 252, 227, 0.4);
    padding: 0;
}