{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'surfacescanner/css/surfacescanner.css' %}">
{% endblock %}

{% block content %}

<div class="container-xl p-0">
    <!-- <div class="row under m-0 p-0 ">
        <div class="col-12 m-0 p-0">
            <img src="{% static 'images/surfacescanner/scannerbanner.png' %}" alt="Banner" class="background-img img-fluid pt-0 mt-0">
        </div>
    </div> -->
    <div class="row top m-0 px-sm-3 px-md-0">
        <div class="col-12 text-center">
            <h1 class=" pt-5 mt-3 font-weight-bold">Surface Scanners</h1>
        </div>
        <!-- <div class="col-12 ">
            <div class="card mt-2 mt-md-0 px-md-4">

                <h1 class="title top-title pb-2 white">ARALIA | Surface Scanners</h1>
            </div>
            <div class="card pb-md-4 pt-sm-3 pl-md-4 big-title-margin not-v-small">
                <h1 class="big-title white mb-0">Quick and accurate</h1>
                <h1 class=" big-title white">3D surface monitoring</h1>
            </div>
            <div class="card pb-md-4 pt-sm-3 pl-md-4 little-big-title-margin v-small">
                <h4 class="little-big-title  mb-0">Quick and accurate</h4>
                <h4 class=" little-big-title ">3D surface monitoring</h4>
            </div>
        </div>
        <div class="col-7 ml-xl-0 pl-xl-2 not-v-small">
            <div class="card first-text pl-md-2 ml-xl- text-justify">

                <h4 class=" blue mb-2 mb-lg-3 helv blue-title font-weight-bold mt-md-5 pt-md-4 pb-md-2 ml-lg-1">A low-cost handheld device that attaches to a regular smartphone to reveal detailed, high-resolution, 3D colour images of any surface down to a depth of 5mm. </h4>
            </div>
        </div>
        <div class="col-12 ml-xl-0 pl-xl-2 v-small">
            <div class="card first-text pl-md-2 ml-xl-0 text-justify">

                <h4 class=" blue mb-2 mb-lg-3 helv blue-title font-weight-bold mt-md-5 pt-md-4 pb-md-2 ml-lg-1">A low-cost handheld device that attaches to a regular smartphone to reveal detailed, high-resolution, 3D colour images of any surface down to a depth of 5mm. </h4>
            </div>
        </div> -->
        <!-- <div class="col-12 px-xl-0">
            <div class="dev-img-card ">
                <div class="pb-3 px-md-4 font-weight-bold pl-2 pt-2 ">
                    <h1 class=" mid-title pl-md-1 mt-md-2 ">3D IILUMINATOR WITH THERMAL IMAGING</h1>

                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner p-4">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static 'images/surfacescanner/carousel/AT-001.png' %}" alt="AT-001">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/surfacescanner/carousel/AT-002b.png' %}" alt="AT-002b">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/surfacescanner/carousel/AT-003.png' %}" alt="AT-003">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/surfacescanner/carousel/AT-004.png' %}" alt="AT-004">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/surfacescanner/carousel/AT-004b.png' %}" alt="AT-004b">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/surfacescanner/carousel/AT-005.png' %}" alt="AT-005b">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/surfacescanner/carousel/Hand-Scanner-wall-mount.PNG' %}" alt="Hand-Scanner-wall-mount">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/surfacescanner/carousel/Hand-Scanner.png' %}" alt="Hand Scanner">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/surfacescanner/carousel/AT-003.png' %}" alt="AT-003">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left fa-lg grey"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <i class="fas fa-chevron-right fa-lg grey"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div> -->

        <div class="col-12 m-0 d-md-none">
            <div class="bens-card card px-2 pt-2 pb-1 pb-sm-2 my-3 my-sm-4 ">
                <h2 class="scanner-li pl-2 pl-md-4 pt-2 pt-sm-2 pt-md-3 pb-1  blue">The benefits at a glance:</h2>

                <ul class="fa-ul mb-0  pl-md-0 scanner-li-bullets">
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Low cost</li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Saves time, money and resources
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Improves accuracy of visual
                        testing </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Easy to use with user friendly app
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Indoor and outdoor applications
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Helps prevent costly structural
                        and asset failure between regular annual inspections</li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Includes active and passive
                        thermography options</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-8 pl-md-0 pr-md-3 ml-xl-0 pl-lg-0">
            <div class="card ml-1 ml-md-4 mr-md-0 pl-md-2 pl-lg-0 ml-xl-0">
                <h2 class="pb-md-3 pb-1 pb-sm-2 mt-2 mt-sm-3 blue">The technical solution</h2>

                <p class="text-justify">Aralia combines cutting-edge quantum photonic technologies with photogrammetry and photometric stereo to create high speed scanners that recover 3D information with submillimetre accuracy. Image data is transmitted to a cloud server for remote assessment by expert review. Also included is the facility to archive, display and automatically assess images using AI.
                </p>

                <p class="pb-sm-2 pb-md-4">Subsurface data can be simultaneously recovered using thermography or millimetric wave imaging.</p>

                <h2 class="pb-1 pb-sm-2 mt-sm-2 py-md-2 py-0 blue">Solves an industry problem</h2>
                <p class="first-p">To keep large assets operational, companies rely on Condition Monitoring (CM) and Non-Destructive testing (NDT) regimes to determine the need for
                    maintenance or repairs. This extends asset lifespan, reducing the need for capital investment to
                    replace integral equipment and prevents operational failures. Over 25,000 inspections are
                    carried out every day in the UK.
                </p>

                <p class="pb-sm-2 mb-0 pb-md-0">Aralia's 3D Systems can enable CM and NDT professionals to quickly and accurately identify surface defects as a first step in the testing process. It is easy to use on site for initial assessments to determine if additional resources or more rigorous testing is required, making it a useful aid. Unlike liquid penetrant testing, where the dye has to sit and fully absorb into the surface (taking between one and three hours), Aralia's solution works within minutes.</p>


            </div>
        </div>
        <div class="col-12 px-2 d-md-none">
            <div class="card ml-2 mr-3 my-2">
                <p class=" mb-0 pl-4 pr-3 px-md-0 mx-md-2"><i class="fas fa-quote-left blue pr-2"></i><em>3D information enhances the accuracy of AI solutions for condition monitoring. Using a simple AI tool 3D Systems can perform any initial analysis locally and send images remotely off site for expert review.</em><i class="fas fa-quote-right blue pl-1"></i></p>
            </div>
            <div class="col-4 offset-4 col-md-6 offset-md-3 text-center">
                <img src="{% static 'images/logo.png' %}" alt="Aralia logo" class="image mb-3">
            </div>

        </div>
        <div class="col-12 col-md-5 col-lg-4 mt-md-2 pl-4 pl-md-2 pr-md-4 pl-lg-4  pr-xl-0 d-none d-md-block pt-5">
            <div class="bens-card card p-1  mt-5 ml-2 mb-md-4">
                <h2 class="scanner-li pl-2 pl-md-4 pt-3 pb-1 blue">The benefits at a glance:</h2>
                <ul class="fa-ul   pl-md-0 scanner-li-bullets">
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Low cost</li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Saves time, money and resources
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Improves accuracy of visual
                        testing </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Easy to use with user friendly app
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Indoor and outdoor applications
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Helps prevent costly structural
                        and asset failure between regular annual inspections</li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Includes active and passive
                        thermography options</li>
                </ul>
            </div>
            <div class="card mt-md-4 ml-3 d-none d-md-block d-lg-none">
                <p class="large"><i class="fas fa-quote-left blue pr-2"></i><em>3D information enhances the accuracy of AI solutions for condition monitoring. Using a simple AI tool 3D Systems can perform any initial analysis locally and send images remotely off site for expert review.</em><i class="fas fa-quote-right blue pl-1"></i></p>
            </div>
            <div class="col-4 offset-4 col-md-6 offset-md-3 text-center">
                <img src="{% static 'images/logo.png' %}" alt="Aralia logo" class="image mt-3">
            </div>
        </div>
        <div class="col-12 px-2 mx-xl-0 d-none d-lg-block">
            <div class="card ml-2 mr-3 mx-sm-4 mt-2 mt-md-4 px-md-3 px-xl-0 mx-xl-0">
                <p class="large mb-0 pl-4 pr-3 px-md-0 mx-md-2 pb-0"><i class="fas fa-quote-left blue pr-2"></i><em>3D information enhances the accuracy of AI solutions for condition monitoring. Using a simple AI tool 3D Systems can perform any initial analysis locally and send images remotely off site for expert review.</em><i class="fas fa-quote-right blue pl-1"></i></p>
            </div>
        </div>
        <div class="col-12 text-center px-0 px-sm-2 mb-0 pb-0 pl-md-0 pr-md-3 ml-xl-0 pl-lg-0">

            <div class="card px-4 px-xl-0 text-left">
                <h2 class="pb-md-3 pb-1 pb-sm-2 mt-2 mt-sm-3 mt-md-5 blue">Our solution</h2>
            </div>
            <div class="card px-4 text-left">
                <table>
                    <!-- <tr>
                        <td class="text-right info-img"><img src="{% static 'images/surfacescanner/infographic/1.png' %}" alt="Info Graphic1" class="info-graphic info-img"></td>
                        <td class="text-justify pl-1 pl-sm-3 pt-1 pb-2">A handheld device that transforms
                            a familiar smartphone into an easy to use surface assessment tool
                        </td>
                    </tr> -->
                    <tr c>
                        <td class="text-right info-img"><img src="{% static 'images/surfacescanner/infographic/2.png' %}" alt="Info Graphic2" class="info-graphic info-img"></td>
                        <td class="text-justify pl-1 pl-sm-3 py-2">Detailed 3D images can be processed locally or remotely via the cloud
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right info-img"><img src="{% static 'images/surfacescanner/infographic/3.png' %}" alt="Info Graphic3" class="info-graphic info-img"></td>
                        <td class="text-justify pl-1 pl-sm-3 py-2">Images can be sent from a remote location off site for expert assessment
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right info-img"><img src="{% static 'images/surfacescanner/infographic/4.png' %}" alt="Info Graphic4" class="info-graphic info-img"></td>
                        <td class="text-justify pl-1 pl-sm-3 py-2">The asset can be analysed using detailed PS/Thermography NDT data of selected areas
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="text-right info-img"><img src="{% static 'images/surfacescanner/infographic/5.png' %}" alt="Info Graphic5" class="info-graphic info-img"></td>
                        <td class="text-justify pl-1 pl-sm-3 py-2">FLIR thermal imaging technology captures subsurface analysis, applicable to up to 6mm, material dependent
                        </td>
                    </tr> -->
                    <tr>
                        <td class="text-right info-img"><img src="{% static 'images/surfacescanner/infographic/6.png' %}" alt="Info Graphic6" class="info-graphic info-img"></td>
                        <td class="text-justify pl-1 pl-sm-3 py-2">Works in outdoor and indoor environments
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right info-img"><img src="{% static 'images/surfacescanner/infographic/7.png' %}" alt="Info Graphic7" class="info-graphic info-img"></td>
                        <td class="text-justify pl-1 pl-sm-3 py-2">No surface contact is required
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right info-img"><img src="{% static 'images/surfacescanner/infographic/8.png' %}" alt="Info Graphic8" class="info-graphic info-img"></td>
                        <td class="text-justify pl-1 pl-sm-3 py-2">Reduces the labour cost of continually monitoring cracks, scratches, delamination and blistering
                        </td>
                    </tr>

                    <tr>
                        <td class="text-right info-img"><img src="{% static 'images/surfacescanner/infographic/10.png' %}" alt="Info Graphic10" class="info-graphic info-img"></td>
                        <td class="text-justify pl-1 pl-sm-3 py-2">Eliminates the need for lengthy visual inspection reports
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right info-img"><img src="{% static 'images/surfacescanner/infographic/11.png' %}" alt="Info Graphic11" class="info-graphic info-img"></td>
                        <td style="width:90%" class="text-justify pl-1 pl-sm-3 py-2">Reduces the margin of error associated with visual inspections
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right "><img src="{% static 'images/surfacescanner/infographic/9.png' %}" alt="Info Graphic9" class="info-graphic info-img"></td>
                        <td class="text-justify pl-1 pl-sm-3 py-2">Operated with an easy to use and intuitive mobile APP
                        </td>
                    </tr>
                </table>
            </div>
            <br class="d-none d-md-block">
        </div>
        <div class="col-12 px-0">
            <div class="card  mx-md-4 pl-md-2 pl-lg-0 ml-xl-0 pt-3">
                <h2 class=" pb-3 mt-3 pb-sm-2 mt-sm-0 blue px-lg-2 pl-4 pl-md-0 mb-0">The business benefits - affordable, effective and accurate...</h2>

                <ul class="fa-ul pt-1 pl-1 pr-4 pr-md-1 scanner-li-2 pt-md-0 pb-0 mb-0">
                    <!-- <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Saves time and money:
                        implement the 3D Illuminator &#8217;on the spot&#8217; to identify any surface weakness
                        requiring further inspection. This allows valuable resources to be allocated where
                        they&#8217;re most needed.</li> -->
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Improves accuracy of visual
                        testing which helps prevent costly
                        structural or asset failure in between regular annual inspections.</li>
                    <!-- <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Easy to use: the 3D illuminator provides a familiar experience for smartphone users and the user-friendly app provides a step by step implementation guide. </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Indoor and outdoor
                        applications: using a bespoke cowl the MPPS Illuminator will work outdoors as well as indoor
                        environments. Infrared capabilities will enable images to be taken where there&#8217;s poor
                        natural light.</li>

                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Sustainable credentials: the
                        3D Illuminator is made from recyclable materials and won&#8217;t contribute to expensive
                        landﬁlls</li> -->
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Improves productivity: enhances the performance of AI processing. </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Asset protection: testing and monitoring techniques preserve the integrity of assets and infrastructures. </li>
                    <!-- <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Boosting our local economy: UK
                        based manufacturing and distribution will generate local employment.
                    </li> -->

                </ul>
                <h2 class="pb-md-3 pb-sm-1 mt-2 mt-sm-2 mt-md-5 blue px-lg-2 pl-4 pl-md-1">Possible applications:</h2>
            </div>
        </div>
        <div class="col-12 d-sm-none">
            <ul class="fa-ul pt-md-3 pt-1 pl-1 pr-1 scanner-li-3 pt-lg-0 ml-sm-5 pl-sm-5 mb-0">
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Manufacturing</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Construction</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Transport</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Built environment</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Agriculture</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Food and beverage</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Medical</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Veterinary</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Archeology</li>
            </ul>
        </div>
        <div class="col-sm-6 d-none d-sm-block d-md-none mb-2">
            <ul class="fa-ul pt-md-3 pt-1 pl-1 pr-1 scanner-li-3 pt-lg-0 ml-sm-5 pl-sm-5">
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Manufacturing</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Construction</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Transport</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Built environment</li>
            </ul>
        </div>
        <div class="col-sm-6 d-none d-sm-block d-md-none mb-2">
            <ul class="fa-ul pt-md-3 pt-1 pl-1 pr-1 scanner-li-3 pt-lg-0 ml-sm-5 pl-sm-5">
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Agriculture</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Food and beverage</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Medical</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Veterinary</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Archeology</li>
            </ul>
        </div>
        <div class="col-12 px-0 col-sm-10 col-md-7 offset-sm-1 offset-md-0 text-center text-md-left">
            <div class="card  mx-md-4 pl-md-2 pl-lg-0 ml-xl-0">

                <img src="{% static 'images/surfacescanner/industry-applications.png' %}" alt="Industry Applications" class="industry">
            </div>
        </div>
        <div class="col-5 d-none d-md-block pl-5">
            <ul class="fa-ul pt-md-3 pt-1 pl-1 pr-1 scanner-li-3 pt-lg-0 ml-sm-5 pl-sm-5">
                <li class=" pt-md-2 mt-md-2 pt-lg-5 mt-lg-5"><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Manufacturing</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Construction</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Transport</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Built environment</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Agriculture</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Food and beverage</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Medical</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Veterinary</li>
                <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Archeology</li>
            </ul>
        </div>
        <div class="col-12 px-0">
            <div class="card  mx-md-4 pl-md-2 pl-lg-0 ml-xl-0">
                <h2 class="pb-md-4 mt-1 mb-3 mb-sm-4 blue px-lg-2 pl-4 pl-md-1">Case studies</h2>
            </div>
        </div>
        <div class="col-12 px-0 col-sm-10 col-md-6 offset-sm-1 offset-md-0 text-center text-md-left d-none d-md-block">
            <div class="card  mx-md-4 pl-md-2 pl-lg-0 ml-xl-0">

                <img src="{% static 'images/surfacescanner/tunnelbrickwork.png' %}" alt="Tunnel Brickwork" class="industry">
            </div>
        </div>
        <div class="col-12 d-md-none ">
            <h4 class="pb-1 blue helv text-center mb-0">TUNNEL BRICKWORK</h4>
            <p class="text-justify">3D systems capture brickwork condition including 3D surface defects. The current state of the brickwork is archived centrally and can be automatically assessed to determine degradation that has occurred since the last inspection.</p>
            <p class="text-justify">The record of surface condition can be used to create a digital twin of the tunnel surface.</p>
        </div>

        <div class="col-6 d-none d-md-block pl-5">
            <h3 class=" pb-2 mt-md-0 mt-lg-3 blue helv mb-0 mb-lg-2 pl-1">TUNNEL BRICKWORK</h3>
            <p class="text-justify">3D systems capture brickwork condition including 3D surface defects. The current state of the brickwork is archived centrally and can be automatically assessed to determine degradation that has occurred since the last inspection.</p>
            <p class="text-justify">The record of surface condition can be used to create a digital twin of the tunnel surface.</p>
        </div>
        <div class="col-10 col-md-6 offset-1 offset-md-0 text-center text-md-left d-md-none">
            <div class="card  mx-md-4 pl-md-2 pl-lg-0 ml-xl-0">

                <img src="{% static 'images/surfacescanner/tunnelbrickwork.png' %}" alt="tunnelbrickwork" class="industry">
            </div>
        </div>
        <div class="col-10 col-md-6 offset-1 offset-md-0 text-center text-md-left d-none d-md-block pt-4 pt-lg-5">
            <div class="card  mx-md-4 pl-md-2 pl-lg-0 ml-xl-0 ">

                <img src="{% static 'images/surfacescanner/screw.png' %}" alt="screw" class="industry">
            </div>
        </div>
        <div class="col-12 d-md-none pt-4 pt-md-5">
            <h4 class="pb-1 blue helv text-center mb-0">ASSET RECOGNITION</h4>
            <p class="text-justify">3D information and augmented reality facilitates the automatic recognition of components and assets that require attention.</p>
        </div>

        <div class="col-6 d-none d-md-block pl-5 mt-md-4 pt-md-4">
            <h3 class=" pb-2 mt-md-0 mt-lg-3 blue helv mb-0 mb-lg-2 pl-1">ASSET RECOGNITION</h3>
            <p class="text-justify">3D information and augmented reality facilitates the automatic recognition of components and assets that require attention.</p>
        </div>
        <div class="col-10 col-md-6 offset-1 offset-md-0 text-center text-md-left d-md-none">
            <div class="card  mx-md-4 pl-md-2 pl-lg-0 ml-xl-0">

                <img src="{% static 'images/surfacescanner/screw.png' %}" alt="screw" class="industry pt-2">
            </div>
        </div>

        <!-- <div class="col-12 text-center">

            <img src="{% static 'images/surfacescanner/data-table-large.png' %}" alt="Data Table" class="info-graphic d-none d-md-block px-lg-5 pt-5">
            <img src="{% static 'images/surfacescanner/data-table-small.png' %}" alt="Data Table" class="info-graphic d-block d-md-none px-sm-2 pt-3">
        </div> -->
        <div class="col-12 ">
            <div class="card pt-3 pt-md-5 ">

                <p class="text-justify large d-none d-md-block">If you would like to learn more about our pioneering 3D Systems or for investment or distribution enquires please get in touch with us using our <a href="{% url 'contact' %}" class="grey">contact form</a>.
                </p>
                <p class="text-justify d-md-none mb-0">If you would like to learn more about our pioneering 3D Systems or for investment or distribution enquires please get in touch with us using our <a href="{% url 'contact' %}" class="grey">contact form</a>.
                </p>
            </div>
        </div>

    </div>
</div>
</div>
<br>

{% endblock %}