{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'surfacescanner/css/surfacescanner.css' %}">
{% endblock %}

{% block content %}

<div class="container-xl p-0">
    <div class="row under m-0 p-0 ">
        <div class="col-12 m-0 p-0">
            <img src="{% static 'images/surfacescanner/scannerbanner.png' %}" alt="Banner" class="background-img img-fluid pt-0 mt-0">
        </div>
    </div>
    <div class="row top m-0 px-sm-3 px-md-0">
        <div class="col-12 ">
            <div class="card mt-2 mt-md-0 px-md-4">
                <h1 class="top-title d-none "><span class="black">ARALIA - </span><span class="orange">3D IILUMINATOR</span></h1>
                <h2 class="title top-title pb-2 orange"><span class="black">ARALIA - </span><span class="orange">3D IILUMINATOR</span></h2>
            </div>
            <div class="card pb-md-4 pt-sm-3 pl-md-4 big-title-margin">
                <h1 class="big-title white mb-0">Quick and accurate</h1>
                <h1 class=" big-title white">3D surface monitoring</h1>
            </div>
        </div>
        <div class="col-7 ml-xl-0 pl-xl-2">
            <div class="card first-text pl-md-4 pt-2 pl-xl-0 ml-xl-0">

                <h4 class=" blue mb-lg-3 helv blue-title font-weight-bold pt-2 mt-md-5 pt-md-4 pb-md-2">A low-cost handheld device that attaches to a regular smartphone to reveal detailed, high-resolution, 3D colour images of any surface down to a depth of 5mm. </h4>
            </div>
        </div>
        <div class="col-12 pl-xl-0">
            <div class="dev-img-card ">
                <div class="pb-3 px-md-4 font-weight-bold pl-3 pt-2 pl-xl-2">
                    <h1 class=" mid-title  d-none d-md-block pl-xl-0 ml-xl-0 mt-3 mt-lg-5 orange">3D IILUMINATOR WITH THERMAL IMAGING</h1>
                    <h2 class="mid-title d-md-none orange">3D IILUMINATOR WITH THERMAL IMAGING</h2>
                </div>
                <img src="{% static 'images/surfacescanner/device-images.png' %}" alt="Device Images" class="info-graphic device-images px-md-4 px-1 mx-0 mt-lg-5">
            </div>
        </div>
        <div class="col-12 m-0 d-md-none">
            <div class="bens-card card p-b px-2 pt-2  my-4">
                <h2 class="scanner-li pl-2 pl-md-4 pt-3 pb-1 blue">The benefits at a glance:</h2>
                <ul class="fa-ul   pl-md-0 scanner-li-bullets">
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Low cost</li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Saves time, money and resources
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Improves accuracy of visual
                        testing </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Easy to use with user friendly app
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Indoor and outdoor applications
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Helps prevent costly structural
                        and asset failure between regular annual inspections</li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Includes active and passive
                        thermography options</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-8 p-md-0 ml-xl-0 pl-xl-2">
            <div class="card ml-1 ml-md-4 mr-md-0 pl-md-4 pl-md-2 pl-xl-0 ml-xl-0">
                <h2 class="pb-md-3 pb-2 mt-3 blue">How does it work?</h2>

                <p class="text-justify">The 3D Illuminator uses Photometric Stereo (PS) illumination and Thermography to capture and process images, either locally on the phone or via the cloud, transmitted off site for a remote assessment by expert review. Also included is the facility to archive, display and automatically assess images using AI.
                </p>

                <p class="pb-4">It works ‘out of the box’ with minimal training and all the necessary software easy to download. Its simplicity and low price point enables high volumes to be readily distributed whenever necessary. </p>

                <h2 class="py-md-2 py-0 blue">Solves an industry problem</h2>
                <p class="first-p">To keep large assets operational, companies rely on Condition Monitoring (CM) and Non-Destructive testing (NDT) regimes to determine the need for
                    maintenance or repairs. This extends asset lifespan, reducing the need for capital investment to
                    replace integral equipment and prevents operational failures. Over 25,000 inspections are
                    carried out every day in the UK.
                </p>

                <p class="pb-3 pb-md-0">Aralia's 3D Illuminator can enable CM and NDT professionals to quickly and accurately identify surface defects as a first step in the testing process. It is easy to use on site for initial assessments to determine if additional resources or more rigorous testing is required, making it a useful aid. Unlike liquid penetrant testing, where the dye has to sit and fully absorb into the surface (taking between one and three hours), Aralia's solution works within minutes.</p>


            </div>
        </div>
        <div class="col-12 px-2 d-md-none">
            <div class="card ml-2 mr-3 mt-2">
                <p class="large mb-0 pl-4 pr-3 px-md-0 mx-md-2"><i class="fas fa-quote-left blue pr-2"></i>3D information enhances the accuracy of AI solutions for condition monitoring. Using a simple AI tool the 3D Illuminator can perform any initial analysis locally and send images remotely off site for expert review.<i class="fas fa-quote-right blue pl-1"></i></p>
            </div>
            <div class="col-4 offset-4 col-md-6 offset-md-3 text-center">
                <img src="{% static 'images/logo.png' %}" alt="Aralia logo" class="image mb-3">
            </div>

        </div>
        <div class="col-12 col-md-5 col-lg-4 mt-md-2 pl-4 pl-md-2 pr-md-4 pl-lg-3 pl-xl-4 pr-xl-0 d-none d-md-block">
            <div class="bens-card card p-b px-2 pt-2  m-0">
                <h2 class="scanner-li pl-2 pl-md-4 pt-3 pb-1 blue">The benefits at a glance:</h2>
                <ul class="fa-ul   pl-md-0 scanner-li-bullets">
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Low cost</li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Saves time, money and resources
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Improves accuracy of visual
                        testing </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Easy to use with user friendly app
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Indoor and outdoor applications
                    </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Helps prevent costly structural
                        and asset failure between regular annual inspections</li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Includes active and passive
                        thermography options</li>
                </ul>
            </div>
            <div class="card mt-md-4 ml-3 d-none d-md-block d-lg-none">
                <p class="large"><i class="fas fa-quote-left blue pr-2"></i>3D information enhances the accuracy of AI solutions for condition monitoring. Using a simple AI tool the 3D Illuminator can perform any initial analysis locally and send images remotely off site for expert review.<i class="fas fa-quote-right blue pl-1"></i></p>
            </div>
            <div class="col-4 offset-4 col-md-6 offset-md-3 text-center">
                <img src="{% static 'images/logo.png' %}" alt="Aralia logo" class="image mt-3">
            </div>



        </div>
        <div class="col-12 px-2 mx-xl-0 d-none d-lg-block">
            <div class="card ml-2 mr-3 mx-sm-4 mt-2 mt-md-4 px-md-3 px-xl-0 mx-xl-0">
                <p class="large mb-0 pl-4 pr-3 px-md-0 mx-md-2"><i class="fas fa-quote-left blue pr-2"></i>3D information enhances the accuracy of AI solutions for condition monitoring. Using a simple AI tool the 3D Illuminator can perform any initial analysis locally and send images remotely off site for expert review.<i class="fas fa-quote-right blue pl-1"></i></p>
            </div>

        </div>


        <div class="col-12 text-center px-0 px-sm-2 pl-md-4 pr-md-2 pl-lg-5 pr-lg-3">

            <img src="{% static 'images/surfacescanner/info-graphic-edited.png' %}" alt="Info Graphic" class="info-graphic px-md-4 px-1 mx-0 d-none d-md-block pt-4">
            <img src="{% static 'images/surfacescanner/info-graphic-redone.png' %}" alt="Info Graphic" class="info-graphic px-md-4 px-1 mx-0 mb-sm-4 d-block d-md-none">
            <br class="d-none d-md-block">
        </div>
        <div class="col-12 px-xl-2">
            <div class="card ml-md-0 px-md-5 ml-sm-4 pt-1 px-xl-0 mx-xl-0">
                <h2 class="d-none d-md-block blue px-0 helv title">The business beneﬁts - affordable, effective
                    and accurate...</h2>
                <h4 class="d-block d-md-none blue my-2 helv px-3 px-md-0 title pt-2">The business beneﬁts - affordable,
                    effective and accurate...</h4>
                <ul class="fa-ul pt-md-3 pt-1 pr-3 pl-1 scanner-li-2">
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Saves time and money:
                        implement the MPPS Illuminator &#8217;on the spot&#8217; to identify any surface weakness
                        requiring further inspection. This allows valuable resources to be allocated where
                        they&#8217;re most needed.</li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Improves accuracy of visual
                        testing which helps prevent costly
                        structural or asset failure in between regular annual inspections.</li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>• Easy to use: the 3D illuminator provides a familiar experience for smartphone users and the user-friendly app provides a step by step implementation guide. </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Indoor and outdoor
                        applications: using a bespoke cowl the MPPS Illuminator will work outdoors as well as indoor
                        environments. Infrared capabilities will enable images to be taken where there&#8217;s poor
                        natural light.</li>

                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Sustainable credentials: the
                        MPPS Illuminator is made from recyclable materials and won&#8217;t contribute to expensive
                        landﬁlls</li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>• Improves productivity: enhances the performance of AI processing. </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Asset protection: testing and monitoring techniques preserve the integrity of assets and infrastructures. </li>
                    <li><span class="fa-li"><i class="fas fa-circle fa-xs"></i></span>Boosting our local economy: UK
                        based manufacturing and distribution will generate local employment.
                    </li>

                </ul>

            </div>
        </div>
        <div class="col-12 text-center">
            <br>
            <img src="{% static 'images/surfacescanner/data-table-large.png' %}" alt="Data Table" class="info-graphic d-none d-md-block px-lg-5">
            <img src="{% static 'images/surfacescanner/data-table-small.png' %}" alt="Data Table" class="info-graphic d-block d-md-none px-sm-2">
        </div>
        <div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center">
            <br>
            <img src="{% static 'images/surfacescanner/industry-applications.png' %}" alt="Industry Applications" class="industry px-lg-5">
        </div>
    </div>
</div>
</div>
<br>

{% endblock %}