.background-img {
    position: absolute;
}

.under {
    z-index: -4 !important;
}

.top {
    z-index: 2 !important;
}

.top-top {
    z-index: 3 !important;
    margin-top: 1.5%;
    position: absolute;
}

.squash {
    line-height: 14px;
}

.white {
    color: white !important;
}

@media screen and (min-width:300px) {
    .top-top {
        margin-top: 2%;
    }

    .squash {
        margin-top: 10px;
    }
}

.first-text {
    margin-top: 43%;
    overflow-x: hidden;
}

.light-blue {
    color: #5bc4ec;
}

.extra-large {
    font-size: 120%;
}

.title {
    font-size: 125%;
}

.sub-title {
    font-size: 100%;
}

@media screen and (min-width:380px) {
    .extra-large {
        font-size: 160%;
    }

    .first-text {
        margin-top: 40%;
    }

    .title {
        font-size: 140%;
    }

    .top-top {
        margin-top: 4%;
    }
}

@media screen and (min-width:592px) {
    .extra-large {
        font-size: 250%;
    }

    .title {
        font-size: 155%;
    }

    .sub-title {
        font-size: 115%;
    }
}

@media screen and (min-width:992px) {
    .extra-large {
        font-size: 300%;
    }

    .sub-title {
        font-size: 125%;
    }
}

@media screen and (min-width:900px) {
    .title {
        font-size: 200% !important;
    }
}

@media screen and (min-width:1250px) {
    .extra-large {
        font-size: 350%;
    }

    .title {
        font-size: 250% !important;
    }

    .first-text {
        margin-top: 40%;
    }
}

.card p {
    text-align: justify;
}

.blue {
    color: rgb(69, 90, 162) !important;
}

.helv {
    font-family: Helvetica, sans-serif;
    font-weight: 100 !important;
}

.card {
    border: none;
    background-color: transparent;
}

.fa-circle {
    color: #5bc4ec !important;
    padding-right: 5px;
}

li {
    padding: 7px 0;
}

.large {
    font-size: 115%;
}

.camerabanner {
    width: 100%;
    height: auto;
}