.underlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* position: fixed; */
    z-index: -1;
    background: rgba(148, 143, 140, 0.664);
}

.jumbotron-container {
    z-index: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    margin-top: calc(50vh - 280px);
    margin-bottom: calc(50vh - 200px);
    min-width: 30%;
    padding-top: 25px !important;
    padding-bottom: 15px !important;
}